* {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

body{
	text-align:center;
}
.main{
	width: 940px;
	margin: auto;
}
#header{
	
}
#content{
	min-height: 300px;
}
#footer{
	margin-top:10px;
	color: gray;
	text-align: center;
}

.col-main{
	width: 745px;
	border: 1px solid blue;
	height: ;
	float: right;
	text-align: left;
}

.col-sub{
	text-align: left;
	width: 190px;
	border: 1px solid red;
	float: left;
}
.clear{
	clear: both;
}
.stu{
	display: inline-block;
	width: 240px;
	height: 150px;
	border: 1px solid green;
	position: relative;
}

.stu img{
	width: 120px;
	height: 120px;
	position: absolute;
	left: 5px;
	top: 5px;
}

.stu p{
	margin-left: 145px;
	margin-top: 5px;
}
