* {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

body{
	text-align:center;
	color:#333333;
	font-family: "微软雅黑","宋体";
	background: #F8FBFD;
}

.part{
	display: none;
	
}

#p_Login{
	display: block;
}
label{
	font-weight: bold;
}

input[type="text"], input[type="password"], textarea {
    color: #999999;
    display: inline-block;
    font-family: inherit;
    font-size: 2.25em;
    line-height: 1.2;
    margin-bottom: 24px;
    max-width: 630px;
    padding: 2px;
}
#wrap_all{
	width:960px;
	margin: 0px auto;
	padding: 0px 20px;
	text-align: left;
	min-height: 500px;
}
#footer{
	background: #292929;
	color: white;
	text-align: center;
	margin-top:100px;
	color: gray;
	text-align: center;
}

.title h1{
	color: #333333;
    float: left;
    font-family: "微软雅黑","宋体";
    font-size: 2.25em;
    font-style: italic;
    line-height: 1;
    margin: 0;
    padding: 6px 0 0;
}
.title h2{
	margin-bottom: 0.5em;
    margin-top: 1em;
    padding-top: 16px;
	position: relative;
}
.title a{
	position: absolute;
	right:0px;
	font-size: 16px;
	bottom: 0px;
	text-decoration: none;
	color: #0059F6;
}
h2 span{
	
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0.5em;
}
h2{
	border-bottom: 2px solid #333333;
    font-size: 2.25em;
    font-weight: bold;
}
div .clear{
	clear: both;
	height: 1%;
}

.big_btn{
	background-color: #0059F6;
    border: 0 none;
    border-radius: 44px;
    color: #F8FBFD;
    cursor: pointer;
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0;
    min-width: 222px;
    padding: 27px 44px 21px;
    text-align: center;
}
.content{
	min-height: 450px;
	position: relative;
}
.class_div{
	float: left;
    margin-left: -5px;
    margin-right: 10px;
    padding: 5px;
    width: 298px;
    border: 1px solid #F8FBFD;
    border-radius: 8px 8px 8px 8px;
   
}
.class_div:hover{
	border-color: #0059F6;
	cursor: pointer;
}

.class_div h4{
	color:#0059F6;
	font-size: 1.5em;
    line-height: 1.25;
    margin: 5px;
    padding-left: 10px;
}
.info{
	color: #999999;
	font-family: "宋体";
	padding-left: 15px;
	margin-bottom: 5px;
}
#c_PList{
	height: 450px;
}
#c_PList .p_load{
	margin-left: 10px;
	margin-top: 20px;
}
.person{
	border: 1px solid #F8FBFD;
    border-radius: 8px 8px 8px 8px;
    float: left;
    cursor: pointer;
    width: 155px;
    height: 190px;
    padding: 5px;
    margin-right: 25px;
    margin-bottom: 15px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.p_mask{
	position: absolute;
	left: 1px;
	top: 1px;
	width: 153px;
	height: 188px;
	background: #F8FBFD;
	opacity: 0.6;
	display: none;
}

.p_tip{
	-moz-transform: rotate(-35deg);
	-webkit-transform: rotate(-35deg);
    border: 2px solid red;
    border-radius: 8px 8px 8px 8px;
    color: red;
    font-size: 23px;
    left: 7px;
    padding: 2px 15px;
    position: absolute;
    top: 20px;
    display: none;
}
.person:hover{
	border-color: #0059F6;
}

.person img{
	border: 0px;
	width: 130px;
	height: 130px;
	border: 2px solid black;
	border-radius: 2px;
	margin-top: 5px;
}

.person p{
	color: #999999;
	text-align: center;
}
.ctrl{
	position: relative;
	padding-right: 23px;
}

.ctrl a{
	font-size: 20px;
	color: #0059F6;
	margin-left: 10px;
	float: right;
	top: -5px;
}

.little_btn{
	background-color: #0059F6;
    border: 0 none;
    border-radius: 8px;
    color: #F8FBFD;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    padding: 5px 10px 5px;
    text-align: center;
    width: 120px;
    float: right;
}

.little_btn:hover{
	color: orange;
}

.ctrl .disable{
	background: gray;
	color: #292929;
	cursor: default;
}

.s_item{
	padding: 10px;
	color: #0059F6;
	position: relative;
	float: left;
	border: 1px solid #F8FBFD;
	border-radius: 8px;
	width: 415px;
	height: 100px;
	margin-right:40px;
	overflow: hidden;
}
.s_item span{
	margin-left: 5px;
}
.s_item .s_mask{
	position: absolute;
	left: 1px;
	top: 1px;
	background: #F8FBFD;
	opacity: 0.6;
	width: 398px;
	height: 98px;
	display: none;
}
.s_item:hover{
	border-color:#0059F6;
}
.s_item p{
	font-size: 20px;
	padding-left: 20px;
	position: relative;
}
.s_item input[type="radio"]{
	margin-right: 10px;
	position: absolute;
	z-index: 999;
	left:0px;
	top: 4px;
}

#info_date{
	float: right;
}
#info_date div{
	background-color: #0059F6;
    border: 0 none;
    border-radius: 5px;
    color: #F8FBFD;
    font-size: 13px;
    display: inline-block;
    padding: 3px 5px;
    cursor:pointer;
    margin-left: 5px;
}
